In [1]:
import pandas as pd
import sys
import os
sys.path.append(os.path.abspath(".."))
from scripts.play_store_scraper import BankReviewScraper

In [3]:
bank = 'CBE'
app_id = 'com.combanketh.mobilebanking'

raw_path = '../data/raw/CBE_raw_reviews.csv'

In [4]:
scraper = BankReviewScraper(app_id, bank)
df = scraper.fetch_reviews(450)
print(len(df))
df.head()

450

,review,rating,date,bank,source
0,A great app. It's like carrying a bank in your...,4,2025-06-07 20:21:52,CBE,Google Play
1,More than garrantty bank EBC.,4,2025-06-07 18:21:26,CBE,Google Play
2,really am happy to this app it is Siple to use...,5,2025-06-07 11:02:38,CBE,Google Play
3,I liked this app. But the User interface is ve...,2,2025-06-07 10:50:29,CBE,Google Play
4,"""Why don‚Äôt your ATMs support account-to-accoun...",4,2025-06-06 09:54:11,CBE,Google Play

In [5]:
# Save raw data
os.makedirs('../data/raw', exist_ok=True)
df.to_csv(raw_path, index=False)

In [6]:
df.dropna()
df.drop_duplicates()

,review,rating,date,bank,source
0,A great app. It's like carrying a bank in your...,4,2025-06-07 20:21:52,CBE,Google Play
1,More than garrantty bank EBC.,4,2025-06-07 18:21:26,CBE,Google Play
2,really am happy to this app it is Siple to use...,5,2025-06-07 11:02:38,CBE,Google Play
3,I liked this app. But the User interface is ve...,2,2025-06-07 10:50:29,CBE,Google Play
4,"""Why don‚Äôt your ATMs support account-to-accoun...",4,2025-06-06 09:54:11,CBE,Google Play
...,...,...,...,...,...
445,am happy thank you CBEü´°,5,2025-03-30 16:16:40,CBE,Google Play
446,good,5,2025-03-30 15:00:57,CBE,Google Play
447,good,5,2025-03-30 14:22:46,CBE,Google Play
448,it's very nice üëç.,5,2025-03-30 14:16:56,CBE,Google Play
449,üëç,5,2025-03-30 13:20:35,CBE,Google Play

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   review  450 non-null    object
 1   rating  450 non-null    int64
 2   date    450 non-null    datetime64[ns]
 3   bank    450 non-null    object
 4   source  450 non-null    object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 17.7+ KB

In [8]:
df.value_counts('rating')

rating
5    316
1     48
4     45
3     25
2     16
Name: count, dtype: int64